<div>
  <% @students.each do |student| %>
    <div><% @student_name = (student.first_name + " " + student.last_name).to_s %></div>
    <div><%= link_to @student_name, students_path(students) %></div>
  <% end %>
</div>